{% extends 'layout.html' %}
{% block title %}
    Login page
{% endblock %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Login</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Login</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section id="contact" class="contact">
        <div class="container">

            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-4">
                    <h2 class="text-center">Login Your Account</h2>

                    <hr>
                    <form action="" method="POST" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="user_name" id="user_name"
                                   placeholder="Your User Name"/>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Your Password" data-rule="password"
                                   data-msg="Please enter a valid password"/>
                        </div>
                        <small>Forgot My <a href="{% url 'forgotPassword' %}">Password!</a></small>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </div>
                    </form>
                    <small>Don't have an account <a href="{% url 'register' %}">Register Now!</a></small>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
{% endblock %}