{% extends 'layout.html' %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Register</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Register</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section id="contact" class="contact">
        <div class="container">

            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-lg-4">
                    <h2 class="text-center">Register</h2>
                    <hr>
                    <form action="" method="POST" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name"
                                   placeholder="Your Name"/>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email"
                                   placeholder="Your Email" data-rule="email"
                                   data-msg="Please enter a valid email"/>
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Your Password" data-rule="password"
                                   data-msg="Please enter a valid password"/>
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm_password" id="confirm-password"
                                   placeholder="Your Confirm Password"/>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </div>
                    </form>
                    <small> Already have to account<a href="{% url 'login' %}"> Click here</a></small>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
{% endblock %}